.main-film {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
}

.main-film-specifika {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    row-gap: 5px;
}

.main-film-specifika--levy {
    margin: 0;
}

.main-film-specifika--pravy {
    margin: 0;
}

.main-film__obsah-odkaz {
    font-style: italic;
}