footer {
    background-color: #F5F5F5;
}

.paticka__casti {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 52rem;
	margin: auto;
    list-style: none;
}

.paticka__casti--ul {
    list-style: none;
    padding-left: 0;
}

a.link.paticka__casti--odkaz {
    color: #000000;
}

a:visited.paticka__casti--odkaz {
    color: #000000;
}

a:hover.paticka__casti--odkaz {
    color: #000000;
}


